#numbersContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#time{
    font-size: 35px;
}

.numbers{
    color: black;
    font-size: 50px;
}

.nullNumber{
    color: white;
}

