#numbersContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 400px;
}

.numbers{
    color: black;
    font-size: 70px;
}

.nullNumber{
    color: white;
}